.CollapsePosition{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.CollapseCardStyle{
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    margin-top: 20px;
    padding: 1em;
    border-radius: 5px;
}

