.gallery{
    .card{
        .AppartementPicture{
            width: 1240px;
            height: 415px;
            border-radius: 25px;
            object-fit: cover;
            margin-top: 3em;
        }
    }
}