header {
  padding:  20px 0px;
  nav {
        display: flex;
        justify-content:space-between;
        align-items: center;
    .Navigation {
      display: flex;
      gap: 7em;
        a {
          font-size: 24px;
          text-decoration: none;
          color: inherit;
          cursor: auto;
        }
        a.active {
          text-decoration: underline;
        }
    }
  }
}


@media (max-width: 768px) {
    header {
        nav {
           .Navigation {
        display: flex;
        justify-content: space-around;
        gap: 0em;
        width: 100%;
          a {font-size: 20px;
          
        }
      }
      img{
        width: 145px;
        height: 47px;
      }
    }
  }
}

@media (max-width: 425px) {
    header {
        nav {.Navigation {
        a {font-size: 12px;          
        }
      }
    }
  }
}